<ul id="slide-out" class="side-nav">
		<li class="white">
			<div class="userView">
				<div class="background">
					<img src="/assets/images/nitklogo.jpg" width="100%">
				</div>
				<a href="https://www.nitk.ac.in" class="center">Nitk Surathkal</a>
			</div>
		</li>
		<li><a href="/admin" class="waves-effect space">Home</a></li>
		<li><div class="divider"></div></li>
		<li><a href="/orderslist" class="waves-effect space">Orders List</a></li>
		<li><a href="/itemslist" class="waves-effect space">Items List</a></li>	
		<li><a href="/saleslist" class="waves-effect space">Sales List</a></li>
		<li><a href="/stafflist" class="waves-effect space">Staff</a></li>
		<li><div class="divider"></div></li>
		<li><a href="/additem" class="waves-effect space">Add Item</a></li>
		<li><a href="/addstaff" class="waves-effect space">Add Staff</a></li>
		<li><a href="/deleteitem" class="waves-effect space">Delete Item</a></li>
		<li><div class="divider"></div></li>
		<li><a href="/contacts" class="waves-effect space">Contact</a></li>
		<li><a class="waves-effect space" href="/logout">Logout</a></li>
		<li><a class="waves-effect space" href="/help">Help</a></li>
	</ul>