	 <header> 
	 <div class="navbar-fixed bg"> 
	 <nav class="bg height"> 
	 <div class="nav-wrapper"> 
	 <a class="button-collapse left" href="#" data-activates="slide-out"><i class="material-icons">view_list</i></a> 
	 <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> --> 
	 <h4 class="left hd space">NITK COOP </h4>
	 <div class="input-field col s12" style="width:5%;display:inline-flex;margin-left:4%" id="select">
	 <select id="categoryselect">
	 <option value="" disabled selected>Category</option>
	 <option value="eatables">Eatables</option>
	 <option value="body_products">Body products</option>
	 <option value="for_sale">For Sale </option>
	 <option value="stationary">Statioary</option>
	 <option value="domestic_products">Domestic Products</option>
	 </select>
	 </div>
	 <div  id="dis"> <i class="material-icons" id="icon1">search</i></div> 
	 <ul class="right hide-on-med-and-down"> 
	 <li><a href="/home">Home</a></li> 
	 <li><a href="#" class="dropdown-button" data-activates='dropmanage' data-beloworigin="true">MANAGE<i class="material-icons" style="display:inline;">arrow_drop_down</i></a></li> 
	 <li><a class='dropdown-button' href='#' data-activates='droplist' data-beloworigin="true">Lists<i class="material-icons" style="display:inline;">arrow_drop_down</i></a></li>
	 <li><a href="/profile">Profile</a></li> 
	 <li><a href="/logout">Logout</a></li>
	 </ul> 
	 </div> 
	 </nav>
	 <form class="form1"> 
	 <div class="input-field"> 
	 <input id="search" class="searchher" type="search" placeholder="   &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required> 
	 <div id="log"></div>
	 </div>
	 </form>
	 </div>

	 <!-- Dropdown Structure for lists-->
	 <ul id='droplist' class='dropdown-content'>
	 <li><a href='/orderlist'>ORDERS</a></li>
	 <li><a href='/eatablelist'>EATABLES</a></li>
	 <li><a href='/itemlist'>BODY</a></li>
	 <li><a href='/itemlist'>DOMESTIC</a></li>
	 <li><a href='/itemlist'>STATIONARY</a></li>
	 <li><a href='/itemlist'>FOR SALE</a></li>
	 <li class="divider"></li>
	 <li><a href='/saleslist'>SALES</a></li>
	 </ul>

	 <!-- Dropdown Structure for manage-->
	 <ul id='dropmanage' class='dropdown-content'>
	 <li><a href='/categories'>Categories</a></li>
	 <li><a href='/additem'>Add item</a></li>
	 <li class="divider"></li>
	 <li><a href='/saleslist'>SALES</a></li>
	 <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
	 <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
	 </ul>

	 </header>