
<!-- header  -->

<header>
  <div class="navbar-fixed bg">
    <nav class="bg height">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <h4 class="left hd space">NITK COOP </h4>
        <div class="input-field col s12" style="width:5%;display:none;margin-left:4%" id="select">
    <select id="categoryselect">
      <option value="" disabled selected>Category</option>
      <option value="eatables">Eatables</option>
      <option value="body_products">Body products</option>
      <option value="for_sale">For Sale </option>
      <option value="stationary">Statioary</option>
      <option value="domestic_products">Domestic Products</option>
    </select>
  </div>
        <div id="dis"> <i class="material-icons" id="icon1">search</i> </div>
        <ul class="right hide-on-med-and-down">
          <li class="coll"><a href="/todo" class="btn waves-effect waves-teal left">CART<i class="material-icons">shopping_cart</i></a></li>
        </ul>
      </div>
    </nav>
     
    <form class="form1">
      <div class="input-field">
        <input id="search" class="searchme" type="search" placeholder="  &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required>
      </div>
    </form>

  </div>
</header>
<!-- ////header -->