
<!-- header  -->
<header>
  <div class="navbar-fixed bg">
    <nav class="bg">
      <div class="nav-wrapper">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
        <a href="/home"><img id="fav" class="left head_img" src="/assets/images/favicon.ico" width="35" height="35">
        <span class="left hd space head_size" id="main_head">NITK Consumers Cooperative Society </span></a>

        <div class="input-field col s12" style="width:5%;display:none;margin-left:4%" id="select">
    <select id="categoryselect">
      <option value="" disabled selected>Category</option>
      <option value="eatables">Eatables</option>
      <option value="body_products">Body products</option>
      <option value="for_sale">For Sale </option>
      <option value="stationary">Statioary</option>
      <option value="domestic_products">Domestic Products</option>
    </select>
  </div>
        <div id="dis"> <i class="material-icons" id="icon1">search</i> </div>

      </div>
    </nav>
     
    <form class="form1">
      <div class="input-field">
        <input id="search" class="searchme" type="search" placeholder="  &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required>
      </div>
    </form>

  </div>
</header>
<script type="text/javascript">
    if ( $(window).width() < 993){
    document.getElementById("fav").style.display="none";}

  </script>

<!-- ////header -->