
<footer class="page-footer footer bg"> 
	<div class="container"> 
		<div class="row grey-text text-lighten-4" id="foot"><br>
			<div class="col s12 m8">
				<ul>
					<i><h5 class="acme thicker">Developed By</h5></i> 
					<img id="myImg" alt="Vanshika Gupta" src="/assets/images/myprofile.jpeg" class="circle responsive-img" width="100px" height="40px" style="border-radius: 50%;">
					<li style="display:inline-block;vertical-align:top;"><h5>Vanshika Gupta</h5>
						<h6 style="padding-left:10px;">B.tech 2nd Year, NITK</h6>
						<div class="coll center">
							<a href="#" class="fa fa-facebook blue-text text-darken-4"></a> 
							<a href="https://github.com/vansjyo" class="fa fa-github grey-text text-darken-4"></a> 
							<a href="#" class="fa fa-google red-text text-darken-4"></a> 
						</div>
					</li>
					<li>Sujith D Dixith(support)</li>
					<li>Salman Sah(mentor/support) </li>
					<li>Hrishikesh Hiraskar(mentor/support)</li>
				</ul>
			</div>
			<div class="col s12 m4 margin70 coll">
				<ul> 
				    <li><a href="/team" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-4">wc</i> Team</a></li>
					<li><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-4">help</i> Help</a></li>
					<li><a href="/contact" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-4">contacts</i> Contact Us</a></li>
					<li><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-4">security</i> Privacy and Terms</a></li> 
					<li><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-4">verified_user</i> User Agreement</a></li> 
				</ul> 
			</div> 
		</div> 
		<div class="center grey-text text-lighten-4"> 
			<i class="material-icons medium grey-text text-darken-4">room</i><br>
			NITK-Coperative Society,<br>
			behind Nandini store,beside Girls Hostel - Girls Coop<br> 
			1st Floor, Mudrika Complex - Boys Coop<br>
			NITK, Surathkal, Mangalore - 575025<br> 
			<a href="#" class="fa fa-github grey-text text-darken-4"></a> 
		</div> 
	</div> 
	<div class="footer-copyright"> 
		<div class="container"> © 2016 Copyright Information <a class="grey-text text-lighten-4 right" href="#!">Links</a> </div> 
	</div> 

</footer>