<footer class="page-footer footer space bg"> 
<div class="container"> 
<div class="row  grey-text text-lighten-4"><br>
<div class="col s12 m9 l6">
<ul>
<li><i class="material-icons grey-text text-darken-3 div7">person_pin</i> Salman Shah (mentor)</li> 
<li class="margin10"><i class="material-icons grey-text text-darken-3 div7">person_pin</i> Hrishi Hiraskar (mentor)</li>
<li class="margin10"><i class="material-icons grey-text text-darken-3 div7">person_pin</i> Vanshika Gupta (member)</li> 
<li class="margin10"><i class="material-icons grey-text text-darken-3 div7">person_pin</i> Sujith D Dixith (member)</li>
</ul>
</div>
<div class="col s10 m3 right">
<ul> 
<li><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-3">help</i> Help</a></li>
<li class="margin10"><a href="/contact" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-3">contacts</i> Contact Us</a></li>
<li class="margin10"><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-3">security</i> Privacy and Terms</a></li> 
<li class="margin10"><a href="#" class="grey-text text-lighten-4"><i class="material-icons grey-text text-darken-3">verified_user</i> User Agreement</a></li> 
</ul> 
</div> 
</div> 
<div class="center grey-text text-lighten-4"> 
<i class="material-icons medium grey-text text-darken-3">room</i><br> NITK-Coperative Society,<br>behind Nandini store,beside Girls Hostel<br> NITK, Surathkal, Mangalore - 575025<br> 
<a href="#" class="fa fa-facebook blue-text text-darken-4"></a> 
<a href="#" class="fa fa-github grey-text text-darken-4"></a> 
<a href="#" class="fa fa-google red-text text-darken-4"></a><br><br><br> 
</div> 
</div> 
<div class="footer-copyright"> 
<div class="container"> © 2016 Copyright Information <a class="grey-text text-lighten-4 right" href="#!">Links</a> </div> 
</div> 
</footer>