 <header>
 	<div class="navbar-fixed bg"> 
 		<nav class="bg"> 
 			<div class="nav-wrapper"> 
 				<a class="button-collapse left" href="#" data-activates="slide-out"><i class="material-icons">view_list</i></a> 
 				<a href="/home"><img id="fav" class="left head_img" src="/assets/images/favicon.ico" width="35" height="35">
	            <span class="left hd space head_size" id="main_head">NITK Consumers' Cooperative Society </span></a>
 				<div class="input-field col s12" style="width:5%;display:inline-flex;margin-left:4%" id="select" style="font-size:12px;">
 					<select id="categoryselect" class="browser-default cyan darken-4 form1"> 
 						<option value="all" selected>All</option>
 						<option value="chips">chips</option>
 						<option value="chocolates">chocolates</option>
 						<option value="utensils">utensils</option>
 						<option value="cleaning">cleaning</option>
 						<option value="domestic_products">Domestic Products</option>
 					</select>
 				</div>
 				<div id="dis"> <i class="material-icons" id="icon1">search</i></div> 
 				<ul class="right hide-on-med-and-down"> 
 					<li id="act_home"><a href="/home" style="font-size:12px;" class="active">Home</a></li> 
 					<li id="act_categ" class="coll"><a href="/categories" style="font-size:12px;" class="cyan darken-3 btn waves-effect waves-teal left">SHOP NOW</a></li> 
 					<li><a href="/todo" style="font-size:12px;">Cart<i class="material-icons" style="display:inline;vertical-align:top;">shopping_cart</i></a></li> 
 					<li id="act_profile"><a href="/profile" style="font-size:12px;">Profile</a></li> 
 					<li><a href="#" class="dropdown-button" data-activates='dropmore' data-beloworigin="true"><i class="material-icons" style="display:inline;font-size:17px;vertical-align:top;">arrow_drop_down</i></a></li> 
 				</ul> 
 			</div> 
 			
 		</nav>
 		<form class="form1 cyan darken-4"> 
 			<div class="input-field"> 
 				<input id="search" class="searchher" type="search" placeholder="   &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required> 
 			</div>
 		</form>
 	</div>
 </header>
 <!-- Dropdown Structure for more-->
	 <ul id='dropmore' class='dropdown-content'>
	 <li><a href='/track_order'>Track Order</a></li>
	 <li><a href='/contact_us'>Contact</a></li>
	 <li><a href='/team'>Team</a></li>
	 <li><a href='/settings'>Account</a></li>
	 <li class="divider"></li>
	 <li><a href='/logout'>Logout</a></li>
	 </ul>

