 <header> 
 	<div class="navbar-fixed bg"> 
 		<nav class="bg"> 
 			<div class="nav-wrapper"> 
 				<a class="button-collapse left" href="#" data-activates="slide-out"><i class="material-icons">view_list</i></a> 
 				<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> --> 
 				<h4 class="left hd space">NITK COOP </h4>
 				<div class="input-field col s12" style="width:5%;display:inline-flex;margin-left:4%" id="select">
 					<select id="categoryselect">
 						<option value="" disabled selected>Category</option>
 						<option value="eatables">Eatables</option>
 						<option value="body_products">Body products</option>
 						<option value="for_sale">For Sale </option>
 						<option value="stationary">Statioary</option>
 						<option value="domestic_products">Domestic Products</option>
 					</select>
 				</div>
 				<div  id="dis"> <i class="material-icons" id="icon1">search</i></div> 
 				<ul class="right hide-on-med-and-down"> 
 					<li><a href="/home">Home</a></li> 
 					<li class="coll"><a href="/categories" class="btn waves-effect waves-teal left">SHOP NOW</a></li> 
 					<li><a href="/todo">Cart<i class="material-icons" style="display:inline;">shopping_cart</i></a></li> 
 					<li><a href="/profile">Profile</a></li> 
 					<li><a href="/logout">Logout</a></li>
 				</ul> 
 			</div> 
 		</nav>
 		<form class="form1"> 
 			<div class="input-field"> 
 				<input id="search" class="searchher" type="search" placeholder="   &#x2315   Search.." onfocus="myfocus()" onblur="myblur()" required> 
 				
 			</div>
 		</form>
 	</div>
 </header>