<ul id="nav-mobile" class="side-nav fixed">
  <li class="white">
   <div class="userView">
     <div class="background">
       <img src="/assets/images/nitklogo1.png" width="100%" height="200px">
     </div>
   </div>
 </li>
 <li class="divider"></li> 
 <li class="grey lighten-4"><a href="/home" class="waves-effect waves-teal">Home</a></li>
 <li class="divider"></li> 
 <li class="grey lighten-4"><a href="/categories" class="waves-effect waves-teal">Categories</a></li>
 <li class="divider"></li>
 <li class="grey lighten-4"><a href="/todo" class="waves-effect waves-teal">My Cart<i class="material-icons medium right">shopping_cart</i></a></li>
 <li class="divider"></li>
 <li class="space"><pre>S H O P H E R E <i class="material-icons grey-text text-darken-3">shopping_basket</i></pre></li>
 <li class="no-padding grey lighten-4">
  <ul class="collapsible collapsible-accordion grey lighten-4">
    <li class="space grey lighten-5" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal" id="eatables">Eatables</a>
      <ul class="collapsible-body">
        <li id="chips"><a href="/eat-chips" class="active">Chips</a></li>
        <li id="chocolates"><a href="/eat-chocolates">Chocolates</a></li>
        <li><a href="snack.html">Daily Snacks</a></li>
        <li><a href="bisc.html">Biscuits</a></li>
        <li><a href="ration.html">Ration</a></li>
        <li><a href="pack.html">Packed Stuff</a></li>
        <li><a href="other.html">others</a></li>
      </ul>
    </li>
    <br>
    <li class="space grey lighten-4" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal" id="stationary">Stationary</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="chip.html">Noting stuff</a></li>
          <li><a href="tc.html">Pencil Pen</a></li>
          <li><a href="snack.html">Other items </a></li>
        </ul>
      </div>
    </li>
    <br>
    <li class="space grey lighten-4" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal" id="domestic">Domestic Items</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="chip.html">Cleaning</a></li>
          <li><a href="tc.html">Sanitary</a></li>
          <li><a href="tc.html">Storage</a></li>
          <li><a href="tc.html">Bathroom</a></li>
          <li><a href="tc.html">Utensils</a></li>
          <li><a href="snack.html">Other items</a></li>
        </ul>
      </div>
    </li>
    <li class="space grey lighten-4" style="padding-top:10px;"><a class="collapsible-header waves-effect waves-teal" id="body">Body Products</a>
      <div class="collapsible-body">
        <ul>
          <li><a href="chip.html">Faceitems</a></li>
          <li><a href="tc.html">Creams Lotions</a></li>
          <li><a href="snack.html">Hairitems</a></li>
          <li><a href="snack.html">Oils </a></li>
          <li><a href="snack.html">Body washs'</a></li>
          <li><a href="snack.html">Perfumes talc</a></li>
          <li><a href="snack.html">accessories others</a></li>     
        </ul>
      </div>
    </li>
  </ul>
  <li class="grey lighten-4"><a href="/settings" class="waves-effect waves-teal">Account</a></li>

  <li class="grey lighten-4"><a href="/logout" class="waves-effect waves-teal">Logout</a></li>
</ul>