#back 
{background-color:#ECEFF1;}
.div0
{background-color:#00695C;width:100%;height:60px;}
.div1
{background-color:#00695C;color:white;width:100%;height:90px;}
.i1
{color:#f2f2f2;margin-top:25px;}
.div2
{margin-top:25px;}
.div3
{box-shadow:10px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);width:100%;overflow:auto;background-color:#00802b;text-align:center;color:white; letter-spacing:15px;}
.div4
{background-color:#80CBC4;width:85%;}
.div5
{background-color:#CFD8DC}
.div6
{height:100%;background-color:#08234f}
.span1
{color:#81D4FA}
.o
{overflow:visible;}
.div7
{margin-left:12%;}
.cla
{background-color:black;}
.form1
{width:50%;float:left;margin-left:20%;background-color:white;height:65%;margin-top:1%;}
.form2
{width:50%;float:left;background-color:white;height:65%;margin-top:1%;}
.fonts
{padding:30px; margin-left:10%;}
.cardd
{padding-left:15%;}
.coll
{padding:10px;}
