<!DOCTYPE html> 
<html>
<head>

	<title>Add Staff | NITK ONLINE DELIVERY</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description" content="online coop service nitk">
	<meta name="keywords" content="nitk online coop">

	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="grey lighten-5">

	<!-- header  -->
	<% include partials/adminheader.ejs %>
	<!-- ////header -->

	<!-- side nav menu -->
	<% include partials/admin_slide_out_nav.ejs %>
	<!-- ////side nav menu -->

	<% if(messages.info){ %>
	<div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
	<% } %>


	<!-- card 01 -->
	<main>

		<div class="container coll margin70">
			<div class="navpad heads"><i class="material-icons">person_add</i> Add Staff</div>
		    <div class="divider"></div><br>
			<div class="row"> 
				<div class="col s12 m6 z-depth-1 deco1"> 
					<form action="/addstaff" method="post" class="coll">
						<div class="row">
							<div class="input-field col s6">
								<input type="text" name="firstname" class="validate" required>
								<label>first Name<span class="right">*</span></label>
							</div>
							<div class="input-field col s6">
								<input type="text" name="lastname" class="validate" required>
								<label>last Name<span class="right">*</span></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="password" class="validate" name="password" minlength="4" required>
								<label>Temperory password*</label>
							</div>
							<div class="coll red-text">PLEASE SAVE THE PASSWORD STRING BEFORE YOU ADD THE STAFF**</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input name="telephone" type="tel" maxlength="12" class="validate" required> 
								<label>Telephone*(eg. 919935397676)</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input name="email" type="email" class="validate" required>
								<label>Email*(your username)</label>
							</div>
							<div class="coll red-text">ADD UNIQUE AND EXISTING EMAIL ID OF STAFF ONLY**</div>
						</div><br>
						<button class="btn waves-effect waves-light cyan darken-4" type="submit">Add Staff
							<i class="material-icons right">add</i>
						</button>
					</form>
					<br>
				</div>
				<div class="col s12 m5"><img src="/assets/images/addstaff.png" width="100%">
				</div>
			</div>
		</div>


	</main>



	<!-- footer -->
	<% include partials/footer.ejs %>
	<!-- ////footer -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/assets/js/jquery.flexslider.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
	</script>

</body>
</html>