   <!DOCTYPE html> 
   <html>
   <head>

   	<title>CATEGORIES | NITK ONLINE DELIVERY</title>

   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width" initial-scale="1.0">
   	<meta name="description" content="online coop service nitk">
   	<meta name="keywords" content="nitk online coop">

   	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
   	<link rel="stylesheet" href="/assets/css/style.css">
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


   </head>

   <body id="back">

   	<!-- header  -->
   	<% include partials/header.ejs %>
   	<!-- ////header -->

   	<!-- side nav menu -->
   	<ul id="slide-out" class="side-nav">
   		<li class="white">
   			<div class="userView">
   				<div class="background">
   					<img src="/assets/images/nitklogo.jpg" width="100%">
   				</div>
   				<a href="https://www.nitk.ac.in"><pre>Nitk Surathkal   www.nitk.ac.in</pre></a>
   			</div>
   		</li>
         <li><a href="/" class="waves-effect space">HOME</a></li>
         <li><div class="divider"></div></li>
         <li><a href="#services" class="waves-effect space">SERVICES</a></li>
         <li><a href="/contact" class="waves-effect space">CONTACT</a></li>
         <li><div class="divider"></div></li>
         <li><a class="waves-effect space" href="/help">HELP</a></li>
         <li><a href="/logout" class="waves-effect space">LOGOUT</a></li>
   	</ul>
   	<!-- ////side nav menu -->

   	<main>

<div id="test"></div>
   		<br><br><br>

   		<!-- center image -->
   		<div class="div3"><img src="/assets/images/back.jpg" id="backimg" width="100%" style="display: none"></div>
   		<!-- ///center image -->



   		<div class="container">
   			<div class="row card">
   				<div class="col m3 s12">
   					<a href="/eat-chips"><div class="card small teal lighten-2">
   						<img src="/assets/images/food.jpg" height="60%" width="100%">
   						<div class="card-content center">
   							<h6 class="thicker white-text"><br>E A T A B L E S</h6>  
   						</div>
   					</div></a>
   				</div>
   				<div class="col m3 s12">
   					<table class="striped highlight lineheight">
   						<tr><td><h5>Eatables</h5></td></tr>
   						<tr><td><a href="/eat-chips" class="block"> Chips</a></td></tr>
   						<tr><td><a href="/eat-chocolates" class="block"> Chocolates</a></td></tr>
   						<tr><td><a href="snack.html" class="block"> Daily Snacks</a></td></tr>
   						<tr><td><a href="bisc.html" class="block"> Biscuits</a></td></tr>
   						<tr><td><a href="pack.html" class="block"> Packed Stuff</a></td></tr>
   						<tr><td><a href="other.html" class="block"> others</a></td></tr>
   					</table>
   				</div>
   				<div class="col m3 s12 borderleft">
   					<a href="eat-chips.html"><div class="card small teal lighten-2">
   						<img src="/assets/images/dom.jpg" height="60%" width="100%">
   						<div class="card-content center">
   							<h6 class="thicker white-text">H O M E<br> P R O D U C T S </h6>  
   						</div>
   					</div></a>
   				</div>
   				<div class="col m3 s12">
   					<table class="striped highlight lineheight">
   						<tr><td><h5>Home Products</h5></td></tr>
   						<tr><td><a href="chip.html" class="block"> Cleaning</a></td></tr>
   						<tr><td><a href="tc.html" class="block"> Sanitary</a></td></tr>
   						<tr><td><a href="snack.html" class="block"> Storage</a></td></tr>
   						<tr><td><a href="bisc.html" class="block"> Bathroom</a></td></tr>
   						<tr><td><a href="pack.html" class="block"> Utensils</a></td></tr>
   						<tr><td><a href="other.html" class="block"> others</a></td></tr>
   					</table>
   				</div>
   			</div><br>
   			<div class="row card">
   				<div class="col m3 s12">
   					<a href="eat-chips.html"><div class="card small teal lighten-2">
   						<img src="/assets/images/stationary.jpg" height="60%" width="100%">
   						<div class="card-content center">
   							<h6 class="thicker white-text">S T A T I O N A R Y<br> I T E M S</h6>  
   						</div>
   					</div></a>
   				</div>
   				<div class="col m3 s12">
   					<table class="striped highlight lineheight">
   						<tr><td><h5>Stationary Items</h5></td></tr>
   						<tr><td><a href="chip.html" class="block"> Noting Stuff</a></td></tr>
   						<tr><td><a href="tc.html" class="block"> Pencil & Pen</a></td></tr>
   						<tr><td><a href="other.html" class="block"> others</a></td></tr>
   					</table>
   				</div>
   				<div class="col m3 s12 borderleft">
   					<a href="eat-chips.html"><div class="card small teal lighten-2">
   						<img src="/assets/images/body.jpg" height="60%" width="100%">
   						<div class="card-content center">
   							<h6 class="thicker white-text">B O D Y<br> P R O D U C T S </h6>  
   						</div>
   					</div></a>
   				</div>
   				<div class="col m3 s12">
   					<table class="striped highlight lineheight">
   						<tr><td><h5>Body Products</h5></td></tr>
   						<tr><td><a href="chip.html" class="block"> Faceitems</a></td></tr>
   						<tr><td><a href="tc.html" class="block"> Creams & Lotion</a></td></tr>
   						<tr><td><a href="snack.html" class="block"> Hair Products</a></td></tr>
   						<tr><td><a href="bisc.html" class="block"> Oils</a></td></tr>
   						<tr><td><a href="pack.html" class="block"> Body Wash</a></td></tr>
   						<tr><td><a href="other.html" class="block">Perfumes & Talc</a></td></tr>
                     <tr><td><a href="other.html" class="block">Accesories & Others</a></td></tr>
   					</table>
   				</div>
   			</div><br>
   			<div class="row card">
   				<div class="col m3 s12">
   					<a href="/eat-chips"><div class="card small teal lighten-2">
   						<img src="/assets/images/sale2.jpg" height="60%" width="100%">
   						<div class="card-content center">
   							<h6 class="thicker white-text">F O R <br> S A L E </h6>  
   						</div>
   					</div></a>
   				</div>
   				<div class="col m3 s12">
   					<table class="striped highlight lineheight">
   						<tr><td><h5>For Sale</h5></td></tr>
   						<tr><td><a href="chip.html"  class="block"> Wanna put something up for sale?</a></td></tr>
   					</table>
   				</div>
   			</div>
   		</div><br><br><br>

   	</main>

   	<!-- footer -->
   	<% include partials/footer.ejs %>
   	<!-- ////footer -->


   	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
      <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   	<script src="/assets/js/jquery.flexslider.js"></script>
   	<script src="/assets/js/main.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

   </body>
   </html>