	<!DOCTYPE html> 
	<html>
	<head>

		<title>ENTEROTP | NITK ONLINE DELIVERY</title>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" initial-scale="1.0">
		<meta name="description" content="online coop service nitk">
		<meta name="keywords" content="nitk online coop">

		<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
		<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	</head>

	<body class="cyan lighten-5">

		<!-- header  -->
		<header> 
			<div class="navbar-fixed bg">
				<nav class="bg"> 
					<div class="nav-wrapper"> 
						<h4 class="left hd space">NITK COOP </h4>
					</div> 
				</nav>
			</div>
		</header>

		<!-- ////header -->

		<br><br><br>

		<main>
			<div class="div3"><img src="/assets/images/back.jpg" id="backimg" width="100%" style="display: none"></div>


			<% if(messages.info){ %>
			<div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
			<% } %>

			<% if(messages.success){ %>
			<div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.success %></div>
			<% } %>

			<div class="row coll container">
				<div class="col s12 m6 white">
					<form method="post" action="/enterOTP">
					    

						<div class="input-field">
							<label for="OTP">enter OTP here</label>
							<input type="text" name="OTP" autofocus="autofocus" class="validate"/>
						</div>
						<a href="">Resend OTP</a>

						<button type="submit" class="btn waves-effect waves-light">Submit OTP</button>

					</form>
				</div>
			</div>

			<br><br><br>
		</main>


		<!-- footer -->
		<% include partials/footer.ejs %>
		<!-- ////footer -->

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
		<script src="/assets/js/jquery.flexslider.js"></script>
		<script src="/assets/js/main.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	</body>
	</html>