   <!DOCTYPE html> 
   
   <html>
   <head>

   	<title>TRACK ORDER| ONLINE DELIVERY</title>

   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width" initial-scale="1.0">
   	<meta name="description" content="online coop service nitk">
   	<meta name="keywords" content="nitk online coop">

   	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
   	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
   	<link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/parallax.css" type="text/css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  </head>

  <body class="grey lighten-5">

    <% if(messages.info){ %>
    <div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
    <% } %>
    <% if(messages.error){ %>
    <div class="card-panel red lighten-4 black-text text-darken-4"><%= messages.info %></div>
    <% } %>


    <main>
      
    <div> error in page</div>

    </main>

  


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/track_order.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    

    </body>
    </html>