<!DOCTYPE html> 
<html>
<head>

	<title>NITK COOPERATIVE SOCIETY | NITK ONLINE DELIVERY</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description" content="online coop service nitk">
	<meta name="keywords" content="nitk online coop">

	<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Suez+One">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/assets/css/flexslider.css" type="text/css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body class="grey lighten-5">

	<!-- header  -->
	<% include partials/header.ejs %>
	<!-- ////header -->
   

    
	<!-- side nav menu -->
	<% include partials/slide_out_nav.ejs %>
	<!-- ////side nav menu -->

	<% if(messages.info){ %>
	<div class="card-panel blue lighten-4 black-text text-darken-4"><%= messages.info %></div>
	<% } %>


	<!-- card 01 -->
	<main>

		<div class="container coll margin">
			<h3 class="navpad">Put Item for Sale</h3>
			<div class="divider"></div><br>
			<div class="row"> 
				<div class="col s12 m6 deco1 z-depth-2"> 
					<form action="/for_sale" method="post" class="pad30">
						<div class="row">
							This is your sale ID.Pls keep for reference.
							<div class="input-field col s12">
								<input type="text" name="sale_id" class="validate" value="<%= sale_id %>">
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="sale_name" class="validate" required>
								<label>Item Name with model number and other details<span class="right">*</span></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="number" name="sale_price" class="validate" required>
								<label>Tentative Price(&#x20B9;)</label>
							</div>
						</div> 
						<div class="row">
							<div class="input-field col s12">
								<input type="text" name="sale_Date_OP" class="datepicker validate" required> 
								<label>Date of Purchase</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<select id="sale_type" name="sale_type" required>
									<option value="" disabled selected>Choose condition of product</option>
									<option value="200">Almost New</option>
									<option value="201">Good</option>
									<option value="202">OK</option>
									<option value="203">Bad</option>
								</select>
								<label></label>
							</div>
							<div class="input-field col s6">
								<select id="itemcategory" name="sale_category" required>
									<option value="" disabled selected>Choose category</option>
									<option value="1">Chips</option>
									<option value="2">Option 2</option>
									<option value="3">Option 3</option>
								</select>
								<label></label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<input type="number"  name="sale_quantity" class="validate" required>
								<label>Quantity</label>
							</div>
						</div>
						<div class="divider"></div><br>
						<button class="right btn cyan darken-3 waves-effect waves-light" type="submit">Put for Sale
						</button>
					</form>
					<br>
				</div>
				<div class="col s12 m5 margin70"><img src="/assets/images/for_sale.png" width="100%">
				</div>
			</div>
		</div>


	</main>



	<!-- footer -->
	<% include partials/footer.ejs %>
	<!-- ////footer -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/assets/js/jquery.flexslider.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
		$(document).ready(function() {
			$('select').material_select();
		});
		$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
});
</script>

</body>
</html>