.responsive {
    
    width: 150px;
    height: 150px;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
}

* {
    box-sizing: border-box;
}
.thick{
    font-weight: 700;
}

.bg-img {
    /* The image used */
    background-image: url("/assets/images/profileback2.jpeg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Add styles to the form container */


/* Full-width input fields */


/* Set a style for the submit button */
.btn {
   
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.editit{
    background-color:Transparent;
    border:1px #eeeeee solid;
}
.edit_form{
    display:none;
    border: 1px grey solid;
    padding:20px;
    background-color:Transparent;
    opacity: 0.8;
}